USE [master]
GO
/****** Object:  Database [BoutiqueFR]    Script Date: 11/03/2026 19:49:37 ******/
CREATE DATABASE [BoutiqueFR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BoutiqueFR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BoutiqueFR.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BoutiqueFR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BoutiqueFR_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BoutiqueFR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BoutiqueFR]
GO
/****** Object:  Schema [analytics]    Script Date: 11/03/2026 19:49:38 ******/
CREATE SCHEMA [analytics]
GO
/****** Object:  Schema [bi]    Script Date: 11/03/2026 19:49:38 ******/
CREATE SCHEMA [bi]
GO
/****** Object:  Schema [client]    Script Date: 11/03/2026 19:49:38 ******/
CREATE SCHEMA [client]
GO
/****** Object:  Schema [reference]    Script Date: 11/03/2026 19:49:38 ******/
CREATE SCHEMA [reference]
GO
/****** Object:  Schema [stock]    Script Date: 11/03/2026 19:49:38 ******/
CREATE SCHEMA [stock]
GO
/****** Object:  Schema [vente]    Script Date: 11/03/2026 19:49:38 ******/
CREATE SCHEMA [vente]
GO
/****** Object:  Table [reference].[categories]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[categories](
	[id_categorie] [int] IDENTITY(1,1) NOT NULL,
	[nom_categorie] [nvarchar](80) NOT NULL,
	[description] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stock].[produits]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stock].[produits](
	[id_produit] [int] IDENTITY(1,1) NOT NULL,
	[id_categorie] [int] NOT NULL,
	[nom_produit] [nvarchar](150) NOT NULL,
	[marque] [nvarchar](80) NULL,
	[reference_sku] [nvarchar](50) NOT NULL,
	[prix_ht] [decimal](10, 2) NOT NULL,
	[tva] [decimal](4, 2) NOT NULL,
	[actif] [bit] NOT NULL,
	[date_ajout] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[reference_sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [analytics].[vue_produits_categories]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 2. Vue des produits avec leur catégorie
-- Objectif : éviter de refaire la jointure entre produits
--            et catégories
------------------------------------------------------------

CREATE   VIEW [analytics].[vue_produits_categories] AS
SELECT
    p.id_produit,
    p.nom_produit,
    p.marque,
    p.reference_sku,
    p.prix_ht,
    p.tva,
    p.actif,
    p.date_ajout,
    p.id_categorie,
    c.nom_categorie
FROM stock.produits AS p
LEFT JOIN reference.categories AS c
    ON p.id_categorie = c.id_categorie;

GO
/****** Object:  Table [vente].[commandes]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[commandes](
	[id_commande] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[date_commande] [datetime2](7) NOT NULL,
	[statut] [nvarchar](30) NOT NULL,
	[total_ht] [decimal](12, 2) NOT NULL,
	[total_tva] [decimal](12, 2) NOT NULL,
	[total_ttc] [decimal](12, 2) NOT NULL,
	[id_coupon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vente].[lignes_commande]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[lignes_commande](
	[id_ligne] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[id_produit] [int] NOT NULL,
	[quantite] [int] NOT NULL,
	[prix_unitaire_ht] [decimal](10, 2) NOT NULL,
	[tva] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ligne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [analytics].[vue_commandes_details]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 3. Vue des commandes détaillées
-- Objectif : regrouper les commandes et les lignes de commande
------------------------------------------------------------

CREATE   VIEW [analytics].[vue_commandes_details] AS
SELECT
    c.id_commande,
    c.id_client,
    c.date_commande,
    c.statut,
    c.total_ht,
    c.total_tva,
    c.total_ttc,
    c.id_coupon,
    lc.id_ligne,
    lc.id_produit,
    lc.quantite,
    lc.prix_unitaire_ht,
    lc.tva,

    -- Calcul du montant HT de la ligne
    CAST(lc.quantite * lc.prix_unitaire_ht AS DECIMAL(18,2)) AS montant_ligne_ht,

    -- Calcul du montant TTC de la ligne
    CAST(lc.quantite * lc.prix_unitaire_ht * (1 + lc.tva / 100.0) AS DECIMAL(18,2)) AS montant_ligne_ttc
FROM vente.commandes AS c
INNER JOIN vente.lignes_commande AS lc
    ON c.id_commande = lc.id_commande;

GO
/****** Object:  Table [vente].[paiements]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[paiements](
	[id_paiement] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[montant] [decimal](12, 2) NOT NULL,
	[mode_paiement] [nvarchar](30) NOT NULL,
	[date_paiement] [datetime2](7) NOT NULL,
	[statut] [nvarchar](20) NOT NULL,
	[reference] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paiement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [analytics].[vue_paiements_commandes]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 4. Vue des paiements avec les commandes
-- Objectif : analyser les paiements en lien avec les commandes
------------------------------------------------------------

CREATE   VIEW [analytics].[vue_paiements_commandes] AS
SELECT
    p.id_paiement,
    p.id_commande,
    c.id_client,
    c.date_commande,
    c.statut AS statut_commande,
    p.montant,
    p.mode_paiement,
    p.date_paiement,
    p.statut AS statut_paiement,
    p.reference
FROM vente.paiements AS p
LEFT JOIN vente.commandes AS c
    ON p.id_commande = c.id_commande;

GO
/****** Object:  Table [vente].[expeditions]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[expeditions](
	[id_expedition] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[id_transporteur] [int] NOT NULL,
	[numero_suivi] [nvarchar](60) NOT NULL,
	[date_expedition] [datetime2](7) NOT NULL,
	[date_livraison_estimee] [datetime2](7) NULL,
	[frais_port_ttc] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_expedition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_suivi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [analytics].[vue_expeditions_commandes]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 5. Vue des expéditions avec les commandes
-- Objectif : analyser la logistique à partir des expéditions
------------------------------------------------------------

CREATE   VIEW [analytics].[vue_expeditions_commandes] AS
SELECT
    e.id_expedition,
    e.id_commande,
    c.id_client,
    c.date_commande,
    e.id_transporteur,
    e.numero_suivi,
    e.date_expedition,
    e.date_livraison_estimee,
    e.frais_port_ttc,

    -- Délai estimé entre l'expédition et la livraison prévue
    DATEDIFF(DAY, e.date_expedition, e.date_livraison_estimee) AS delai_estime_jours
FROM vente.expeditions AS e
LEFT JOIN vente.commandes AS c
    ON e.id_commande = c.id_commande;

GO
/****** Object:  Table [client].[clients]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [client].[clients](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[prenom] [nvarchar](50) NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[telephone] [nvarchar](20) NULL,
	[date_creation] [datetime2](7) NOT NULL,
	[actif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [bi].[Dim_Client]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* ==========================================================
   Projet : BoutiqueFR Analytics
   Fichier : 03_modele_bi_schema_etoile.sql
   Objectif : Créer un modèle BI simple pour Power BI
              à partir des vues du schéma analytics.
   ========================================================== */

------------------------------------------------------------
-- 1. Création du schéma bi
------------------------------------------------------------

------------------------------------------------------------
-- 2. Dimension Client
------------------------------------------------------------

CREATE   VIEW [bi].[Dim_Client] AS
SELECT
    id_client,
    prenom,
    nom,
    email,
    telephone,
    date_creation,
    actif
FROM client.clients;
GO
/****** Object:  View [bi].[Dim_Produit]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 3. Dimension Produit
------------------------------------------------------------

CREATE   VIEW [bi].[Dim_Produit] AS
SELECT
    id_produit,
    nom_produit,
    marque,
    reference_sku,
    prix_ht,
    tva,
    actif,
    date_ajout,
    id_categorie,
    nom_categorie
FROM analytics.vue_produits_categories;
GO
/****** Object:  Table [reference].[transporteurs]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[transporteurs](
	[id_transporteur] [int] IDENTITY(1,1) NOT NULL,
	[nom_transporteur] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_transporteur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [bi].[Dim_Transporteur]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 4. Dimension Transporteur
------------------------------------------------------------

CREATE   VIEW [bi].[Dim_Transporteur] AS
SELECT
    id_transporteur,
    nom_transporteur
FROM reference.transporteurs;
GO
/****** Object:  Table [vente].[coupons]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[coupons](
	[id_coupon] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](30) NOT NULL,
	[description] [nvarchar](200) NULL,
	[type_remise] [nvarchar](20) NOT NULL,
	[valeur] [decimal](10, 2) NOT NULL,
	[date_debut] [datetime2](7) NOT NULL,
	[date_fin] [datetime2](7) NOT NULL,
	[actif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_coupon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [bi].[Dim_Coupon]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 5. Dimension Coupon
------------------------------------------------------------

CREATE   VIEW [bi].[Dim_Coupon] AS
SELECT
    id_coupon,
    code,
    description,
    type_remise,
    valeur,
    date_debut,
    date_fin,
    actif
FROM vente.coupons;
GO
/****** Object:  View [bi].[Dim_Date]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 6. Dimension Date
-- Objectif : créer une dimension date simple à partir
--            des dates de commande
------------------------------------------------------------

CREATE   VIEW [bi].[Dim_Date] AS
SELECT DISTINCT
    CAST(date_commande AS DATE) AS date_commande,
    YEAR(date_commande) AS annee,
    MONTH(date_commande) AS mois,
    DATENAME(MONTH, date_commande) AS nom_mois,
    DATEPART(QUARTER, date_commande) AS trimestre
FROM vente.commandes
WHERE date_commande IS NOT NULL;
GO
/****** Object:  View [bi].[Fact_Ventes]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 7. Faits de ventes
-- Grain : une ligne de commande
------------------------------------------------------------

CREATE   VIEW [bi].[Fact_Ventes] AS
SELECT
    id_commande,
    id_client,
    id_coupon,
    id_ligne,
    id_produit,
    CAST(date_commande AS DATE) AS date_commande,
    statut,
    quantite,
    prix_unitaire_ht,
    tva,
    montant_ligne_ht,
    montant_ligne_ttc
FROM analytics.vue_commandes_details;
GO
/****** Object:  View [bi].[Fact_Paiements]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 8. Faits de paiements
-- Grain : un paiement
------------------------------------------------------------

CREATE   VIEW [bi].[Fact_Paiements] AS
SELECT
    id_paiement,
    id_commande,
    id_client,
    CAST(date_paiement AS DATE) AS date_paiement,
    montant,
    mode_paiement,
    statut_paiement
FROM analytics.vue_paiements_commandes;
GO
/****** Object:  View [bi].[Fact_Expeditions]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 9. Faits d'expéditions
-- Grain : une expédition
------------------------------------------------------------

CREATE   VIEW [bi].[Fact_Expeditions] AS
SELECT
    id_expedition,
    id_commande,
    id_client,
    id_transporteur,
    CAST(date_expedition AS DATE) AS date_expedition,
    CAST(date_livraison_estimee AS DATE) AS date_livraison_estimee,
    frais_port_ttc,
    delai_estime_jours
FROM analytics.vue_expeditions_commandes;
GO
/****** Object:  Table [stock].[stocks]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stock].[stocks](
	[id_produit] [int] NOT NULL,
	[quantite] [int] NOT NULL,
	[seuil_alerte] [int] NOT NULL,
	[emplacement] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [bi].[Fact_Stock]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------
-- 10. Faits de stock
-- Grain : un produit
------------------------------------------------------------

CREATE   VIEW [bi].[Fact_Stock] AS
SELECT
    id_produit,
    quantite,
    seuil_alerte,
    emplacement
FROM stock.stocks;
GO
/****** Object:  Table [client].[adresses]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [client].[adresses](
	[id_adresse] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[ligne1] [nvarchar](120) NOT NULL,
	[ligne2] [nvarchar](120) NULL,
	[code_postal] [nvarchar](10) NOT NULL,
	[ville] [nvarchar](80) NOT NULL,
	[pays] [nvarchar](80) NOT NULL,
	[type_adresse] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adresse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [client].[avis]    Script Date: 11/03/2026 19:49:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [client].[avis](
	[id_avis] [int] IDENTITY(1,1) NOT NULL,
	[id_produit] [int] NOT NULL,
	[id_client] [int] NOT NULL,
	[note] [int] NOT NULL,
	[commentaire] [nvarchar](500) NULL,
	[date_avis] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_avis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_adresses_id_client]    Script Date: 11/03/2026 19:49:38 ******/
CREATE NONCLUSTERED INDEX [IX_adresses_id_client] ON [client].[adresses]
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_avis_id_produit]    Script Date: 11/03/2026 19:49:38 ******/
CREATE NONCLUSTERED INDEX [IX_avis_id_produit] ON [client].[avis]
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_produits_id_categorie]    Script Date: 11/03/2026 19:49:38 ******/
CREATE NONCLUSTERED INDEX [IX_produits_id_categorie] ON [stock].[produits]
(
	[id_categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_commandes_id_client]    Script Date: 11/03/2026 19:49:38 ******/
CREATE NONCLUSTERED INDEX [IX_commandes_id_client] ON [vente].[commandes]
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lignes_commande_id_commande]    Script Date: 11/03/2026 19:49:38 ******/
CREATE NONCLUSTERED INDEX [IX_lignes_commande_id_commande] ON [vente].[lignes_commande]
(
	[id_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lignes_commande_id_produit]    Script Date: 11/03/2026 19:49:38 ******/
CREATE NONCLUSTERED INDEX [IX_lignes_commande_id_produit] ON [vente].[lignes_commande]
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [client].[adresses] ADD  DEFAULT (N'France') FOR [pays]
GO
ALTER TABLE [client].[clients] ADD  DEFAULT (sysutcdatetime()) FOR [date_creation]
GO
ALTER TABLE [client].[clients] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [stock].[produits] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [stock].[produits] ADD  DEFAULT (sysutcdatetime()) FOR [date_ajout]
GO
ALTER TABLE [vente].[coupons] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [client].[adresses]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [client].[clients] ([id_client])
ON DELETE CASCADE
GO
ALTER TABLE [client].[avis]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [client].[clients] ([id_client])
ON DELETE CASCADE
GO
ALTER TABLE [client].[avis]  WITH CHECK ADD FOREIGN KEY([id_produit])
REFERENCES [stock].[produits] ([id_produit])
ON DELETE CASCADE
GO
ALTER TABLE [stock].[produits]  WITH CHECK ADD FOREIGN KEY([id_categorie])
REFERENCES [reference].[categories] ([id_categorie])
GO
ALTER TABLE [stock].[stocks]  WITH CHECK ADD FOREIGN KEY([id_produit])
REFERENCES [stock].[produits] ([id_produit])
ON DELETE CASCADE
GO
ALTER TABLE [vente].[commandes]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [client].[clients] ([id_client])
GO
ALTER TABLE [vente].[commandes]  WITH CHECK ADD FOREIGN KEY([id_coupon])
REFERENCES [vente].[coupons] ([id_coupon])
GO
ALTER TABLE [vente].[expeditions]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [vente].[commandes] ([id_commande])
ON DELETE CASCADE
GO
ALTER TABLE [vente].[expeditions]  WITH CHECK ADD FOREIGN KEY([id_transporteur])
REFERENCES [reference].[transporteurs] ([id_transporteur])
GO
ALTER TABLE [vente].[lignes_commande]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [vente].[commandes] ([id_commande])
ON DELETE CASCADE
GO
ALTER TABLE [vente].[lignes_commande]  WITH CHECK ADD FOREIGN KEY([id_produit])
REFERENCES [stock].[produits] ([id_produit])
GO
ALTER TABLE [vente].[paiements]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [vente].[commandes] ([id_commande])
ON DELETE CASCADE
GO
ALTER TABLE [client].[avis]  WITH CHECK ADD CHECK  (([note]>=(1) AND [note]<=(5)))
GO
USE [master]
GO
