USE [master]
GO
/****** Object:  Database [BoutiqueFR]    Script Date: 11/03/2026 17:40:02 ******/
CREATE DATABASE [BoutiqueFR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BoutiqueFR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BoutiqueFR.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BoutiqueFR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BoutiqueFR_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BoutiqueFR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BoutiqueFR]
GO
/****** Object:  Schema [client]    Script Date: 11/03/2026 17:40:02 ******/
CREATE SCHEMA [client]
GO
/****** Object:  Schema [reference]    Script Date: 11/03/2026 17:40:02 ******/
CREATE SCHEMA [reference]
GO
/****** Object:  Schema [stock]    Script Date: 11/03/2026 17:40:02 ******/
CREATE SCHEMA [stock]
GO
/****** Object:  Schema [vente]    Script Date: 11/03/2026 17:40:02 ******/
CREATE SCHEMA [vente]
GO
/****** Object:  View [dbo].[v_powerbi_ca_client]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vue CA par client
CREATE   VIEW [dbo].[v_powerbi_ca_client] AS
SELECT 
  cl.id_client,
  cl.prenom,
  cl.nom,
  cl.email,
  COUNT(c.id_commande) AS nb_commandes,
  SUM(c.total_ttc) AS ca_total,
  AVG(c.total_ttc) AS panier_moyen
FROM dbo.clients cl
JOIN dbo.commandes c ON c.id_client = cl.id_client
WHERE c.statut NOT IN (N'annulee', N'remboursee')
GROUP BY cl.id_client, cl.prenom, cl.nom, cl.email;
GO
/****** Object:  View [dbo].[v_powerbi_ca_mensuel]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vue CA global par mois
CREATE   VIEW [dbo].[v_powerbi_ca_mensuel] AS
SELECT 
  FORMAT(c.date_commande, 'yyyy-MM') AS mois,
  SUM(c.total_ttc) AS ca_ttc,
  COUNT(*) AS nb_commandes,
  AVG(c.total_ttc) AS panier_moyen
FROM dbo.commandes c
WHERE c.statut NOT IN (N'annulee', N'remboursee')
GROUP BY FORMAT(c.date_commande, 'yyyy-MM');
GO
/****** Object:  View [dbo].[v_powerbi_ca_produit]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vue CA par produit
CREATE   VIEW [dbo].[v_powerbi_ca_produit] AS
SELECT 
  p.id_produit,
  p.nom_produit,
  p.marque,
  cat.nom_categorie,
  SUM(lc.quantite * lc.prix_unitaire_ht * (1 + lc.tva/100.0)) AS ca_ttc,
  SUM(lc.quantite) AS quantite_vendue
FROM dbo.lignes_commande lc
JOIN dbo.produits p ON p.id_produit = lc.id_produit
JOIN dbo.categories cat ON cat.id_categorie = p.id_categorie
JOIN dbo.commandes c ON c.id_commande = lc.id_commande
WHERE c.statut NOT IN (N'annulee', N'remboursee')
GROUP BY p.id_produit, p.nom_produit, p.marque, cat.nom_categorie;
GO
/****** Object:  View [dbo].[v_powerbi_logistique]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vue logistique (expéditions)
CREATE   VIEW [dbo].[v_powerbi_logistique] AS
SELECT 
  t.nom_transporteur,
  COUNT(e.id_expedition) AS nb_expeditions,
  AVG(DATEDIFF(DAY, e.date_expedition, e.date_livraison_estimee)) AS delai_moyen_jours,
  SUM(e.frais_port_ttc) AS frais_total
FROM dbo.expeditions e
JOIN dbo.transporteurs t ON t.id_transporteur = e.id_transporteur
GROUP BY t.nom_transporteur;
GO
/****** Object:  Table [client].[adresses]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [client].[adresses](
	[id_adresse] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[ligne1] [nvarchar](120) NOT NULL,
	[ligne2] [nvarchar](120) NULL,
	[code_postal] [nvarchar](10) NOT NULL,
	[ville] [nvarchar](80) NOT NULL,
	[pays] [nvarchar](80) NOT NULL,
	[type_adresse] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adresse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [client].[avis]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [client].[avis](
	[id_avis] [int] IDENTITY(1,1) NOT NULL,
	[id_produit] [int] NOT NULL,
	[id_client] [int] NOT NULL,
	[note] [int] NOT NULL,
	[commentaire] [nvarchar](500) NULL,
	[date_avis] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_avis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [client].[clients]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [client].[clients](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[prenom] [nvarchar](50) NOT NULL,
	[nom] [nvarchar](50) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[telephone] [nvarchar](20) NULL,
	[date_creation] [datetime2](7) NOT NULL,
	[actif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reference].[categories]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[categories](
	[id_categorie] [int] IDENTITY(1,1) NOT NULL,
	[nom_categorie] [nvarchar](80) NOT NULL,
	[description] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reference].[transporteurs]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reference].[transporteurs](
	[id_transporteur] [int] IDENTITY(1,1) NOT NULL,
	[nom_transporteur] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_transporteur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stock].[produits]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stock].[produits](
	[id_produit] [int] IDENTITY(1,1) NOT NULL,
	[id_categorie] [int] NOT NULL,
	[nom_produit] [nvarchar](150) NOT NULL,
	[marque] [nvarchar](80) NULL,
	[reference_sku] [nvarchar](50) NOT NULL,
	[prix_ht] [decimal](10, 2) NOT NULL,
	[tva] [decimal](4, 2) NOT NULL,
	[actif] [bit] NOT NULL,
	[date_ajout] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[reference_sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [stock].[stocks]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stock].[stocks](
	[id_produit] [int] NOT NULL,
	[quantite] [int] NOT NULL,
	[seuil_alerte] [int] NOT NULL,
	[emplacement] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vente].[commandes]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[commandes](
	[id_commande] [int] IDENTITY(1,1) NOT NULL,
	[id_client] [int] NOT NULL,
	[date_commande] [datetime2](7) NOT NULL,
	[statut] [nvarchar](30) NOT NULL,
	[total_ht] [decimal](12, 2) NOT NULL,
	[total_tva] [decimal](12, 2) NOT NULL,
	[total_ttc] [decimal](12, 2) NOT NULL,
	[id_coupon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vente].[coupons]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[coupons](
	[id_coupon] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](30) NOT NULL,
	[description] [nvarchar](200) NULL,
	[type_remise] [nvarchar](20) NOT NULL,
	[valeur] [decimal](10, 2) NOT NULL,
	[date_debut] [datetime2](7) NOT NULL,
	[date_fin] [datetime2](7) NOT NULL,
	[actif] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_coupon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vente].[expeditions]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[expeditions](
	[id_expedition] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[id_transporteur] [int] NOT NULL,
	[numero_suivi] [nvarchar](60) NOT NULL,
	[date_expedition] [datetime2](7) NOT NULL,
	[date_livraison_estimee] [datetime2](7) NULL,
	[frais_port_ttc] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_expedition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_suivi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vente].[lignes_commande]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[lignes_commande](
	[id_ligne] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[id_produit] [int] NOT NULL,
	[quantite] [int] NOT NULL,
	[prix_unitaire_ht] [decimal](10, 2) NOT NULL,
	[tva] [decimal](4, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ligne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [vente].[paiements]    Script Date: 11/03/2026 17:40:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [vente].[paiements](
	[id_paiement] [int] IDENTITY(1,1) NOT NULL,
	[id_commande] [int] NOT NULL,
	[montant] [decimal](12, 2) NOT NULL,
	[mode_paiement] [nvarchar](30) NOT NULL,
	[date_paiement] [datetime2](7) NOT NULL,
	[statut] [nvarchar](20) NOT NULL,
	[reference] [nvarchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paiement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[reference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_adresses_id_client]    Script Date: 11/03/2026 17:40:02 ******/
CREATE NONCLUSTERED INDEX [IX_adresses_id_client] ON [client].[adresses]
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_avis_id_produit]    Script Date: 11/03/2026 17:40:02 ******/
CREATE NONCLUSTERED INDEX [IX_avis_id_produit] ON [client].[avis]
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_produits_id_categorie]    Script Date: 11/03/2026 17:40:02 ******/
CREATE NONCLUSTERED INDEX [IX_produits_id_categorie] ON [stock].[produits]
(
	[id_categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_commandes_id_client]    Script Date: 11/03/2026 17:40:02 ******/
CREATE NONCLUSTERED INDEX [IX_commandes_id_client] ON [vente].[commandes]
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lignes_commande_id_commande]    Script Date: 11/03/2026 17:40:02 ******/
CREATE NONCLUSTERED INDEX [IX_lignes_commande_id_commande] ON [vente].[lignes_commande]
(
	[id_commande] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_lignes_commande_id_produit]    Script Date: 11/03/2026 17:40:02 ******/
CREATE NONCLUSTERED INDEX [IX_lignes_commande_id_produit] ON [vente].[lignes_commande]
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [client].[adresses] ADD  DEFAULT (N'France') FOR [pays]
GO
ALTER TABLE [client].[clients] ADD  DEFAULT (sysutcdatetime()) FOR [date_creation]
GO
ALTER TABLE [client].[clients] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [stock].[produits] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [stock].[produits] ADD  DEFAULT (sysutcdatetime()) FOR [date_ajout]
GO
ALTER TABLE [vente].[coupons] ADD  DEFAULT ((1)) FOR [actif]
GO
ALTER TABLE [client].[adresses]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [client].[clients] ([id_client])
ON DELETE CASCADE
GO
ALTER TABLE [client].[avis]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [client].[clients] ([id_client])
ON DELETE CASCADE
GO
ALTER TABLE [client].[avis]  WITH CHECK ADD FOREIGN KEY([id_produit])
REFERENCES [stock].[produits] ([id_produit])
ON DELETE CASCADE
GO
ALTER TABLE [stock].[produits]  WITH CHECK ADD FOREIGN KEY([id_categorie])
REFERENCES [reference].[categories] ([id_categorie])
GO
ALTER TABLE [stock].[stocks]  WITH CHECK ADD FOREIGN KEY([id_produit])
REFERENCES [stock].[produits] ([id_produit])
ON DELETE CASCADE
GO
ALTER TABLE [vente].[commandes]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [client].[clients] ([id_client])
GO
ALTER TABLE [vente].[commandes]  WITH CHECK ADD FOREIGN KEY([id_coupon])
REFERENCES [vente].[coupons] ([id_coupon])
GO
ALTER TABLE [vente].[expeditions]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [vente].[commandes] ([id_commande])
ON DELETE CASCADE
GO
ALTER TABLE [vente].[expeditions]  WITH CHECK ADD FOREIGN KEY([id_transporteur])
REFERENCES [reference].[transporteurs] ([id_transporteur])
GO
ALTER TABLE [vente].[lignes_commande]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [vente].[commandes] ([id_commande])
ON DELETE CASCADE
GO
ALTER TABLE [vente].[lignes_commande]  WITH CHECK ADD FOREIGN KEY([id_produit])
REFERENCES [stock].[produits] ([id_produit])
GO
ALTER TABLE [vente].[paiements]  WITH CHECK ADD FOREIGN KEY([id_commande])
REFERENCES [vente].[commandes] ([id_commande])
ON DELETE CASCADE
GO
ALTER TABLE [client].[avis]  WITH CHECK ADD CHECK  (([note]>=(1) AND [note]<=(5)))
GO
USE [master]
GO
